*{
    margin:0;
    padding:0;
}
h2 {
  background-color: #545454;
  color: #ffffff;
}
.logo { 
  width: auto;
  height: auto;
  text-align:center;
}

.logo img {
  display:inline-block;
}

.topnav {
  background-color: #545454;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.header{
    min-height: 100vh;
    max-height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/hback.jpg);
    background-position: center;
    background-size: cover;
    position: relativ;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-item: center
}

nav img{
    width: 80px;
}

.nav-links{
 flex: 1;
 text-align: center;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Bebas Neue', cursive;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}



.nav-links ul li:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
}

.text-box{
    width: 90%;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size:62px;
    font-family: 'Bebas Neue', cursive;

    font-family: 'Outfit', sans-serif;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.link1_test{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    color: #fff;
}

.link1_test:hover{
    padding: 12px 40px;
    transition: 0.5s;
}

.founders{
    /* color: #fff; */
    width: 80%;
    margin: auto;
    text-align: center;
}

.founders h1{
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.founders h2{
    font-size: 20px;
    padding-bottom: 5px;
    background-color: #fff;
    color: #000;
}
.founders img{
    width: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.founders img:hover{
    width: 350px;
    padding-top: 100px;
    padding-bottom: 100px;
    transition: 0.2s;
}
.row{
    display: flex;
    justify-content: center;
}

.github {
width: 80%;
margin: auto;
padding-top: 150px;
text-align: center;
}
.github img{
    width: 170px;
    padding-bottom: 150px;
}















